:root {
    --stroke: #000;
    --color-header: #f5ba13;
    --color-note: #fff;
    --color-light: #ECECEC;
    --color-dark: #043449;
    --color-placeholder: grey;
    --foreground: var(var(--color-light));
    --background: var(var(--color-dark));
    --color-box-shadow: #ccc;
    --color-help: #996600;
}

::placeholder {
    color: var(--color-placeholder);
}

body {
    color: var(--foreground);
    background: #ECECEC;
}

.darkmode {
    --stroke: #fff;
    --color-header: #23252d;
    --color-light: #043449;
    --color-dark: #ECECEC;
    --color-note: rgb(59, 59, 74);
    --foreground: var(--color-dark);
    --background: var(--color-light);
    --color-placeholder: #fff;
    --color-box-shadow: #2e2e2e;
    background: #1E1E21;
    --color-help: #25B6F4;
}

#dark-mode-toggle {
    transition: 1s;
}

/* Help button */
.help {
    display: inline-block;
    color: white;
    font-size: 2.2rem;
    padding-right: 1rem;
}

.help a {
    color: white;
    transition: .3s ease-out;
}

.help a:hover {
    color: var(--color-help);
}

/* Search icon */
.form {
    --input-bg: var(--color-note);
    /*  background of input */
    --padding: 1.5em;
    --rotate: 80deg;
    /*  rotation degree of input*/
    --gap: 2em;
    /*  gap of items in input */
    --icon-change-color: #f5ba13;
    /*  when rotating changed icon color */
    --height: 2.5rem;
    /*  height */
    width: 200px;
    padding-inline-end: 1em;
    /*  change this for padding in the end of input */
    background: var(--input-bg);
    position: relative;
    border-radius: 7px;
    display: inline-block;
    vertical-align: top;
    margin-top: .4rem;
    transition: background 0.35s ease-in-out;
}

.form label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
}

.form input {
    width: 100%;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
}

#search {
    color: var(--foreground);
    transition: all .35s ease-in-out;
}

/* style for both icons -- search,close */
.form svg {
    /* display: block; */
    color: #111;
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    position: absolute;
    height: 15px;
    stroke: var(--stroke);
}

/* search icon */
.icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* arrow-icon*/
.swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
}

/* close button */
.close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
}

.w-5 {
    fill: var(--stroke);
}

.form input:focus~.icon {
    transform: rotate(var(--rotate)) scale(1.3);
}

.form input:focus~.icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
}

.form input:focus~.icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.form input:valid~.icon {
    transform: scale(1.3) rotate(var(--rotate))
}

.form input:valid~.icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
}

.form input:valid~.icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.form input:valid~.close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
}

/* Footer */
footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: max-content;
    margin: 0 50%;
    transform: translate(-50%);
    height: 2.5rem;
}

footer p {
    color: #b3b3b3;
}

/* Note card */
.note {
    background: var(--color-note);
    border-radius: 7px;
    box-shadow: 0 2px 5px var(--color-box-shadow);
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
    transition: all 0.35s ease-in-out;
}

.note h1 {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.note i {
    position: relative;
    float: right;
    margin-right: 5px;
    color: #f5ba13;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    display: none;
}

.note i:hover {
    color: #C07F00;
}

/* Creating new note */
form.createArea {
    background-color: red;
}

form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: var(--color-note);
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 3px 5px var(--color-box-shadow);
    transition: all 0.35s ease-in-out;
}

form.create-note input,
form.create-note textarea {
    background: var(--color-note);
    color: var(--foreground);
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    max-height: 300px;
    transition: all 0.35s ease-in-out;
}

form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

/* Note cards section */
#notesList {
    margin: 0 1rem;
    padding-bottom: 40px;
    overflow-y: auto;
    height: 90%;
}

.read-more {
    background-color: transparent;
    color: #f5ba13;
    border: none;
}

.read-more:hover {
    color: #C07F00;
}

/* Read more pop up window */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    overflow: auto;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-note);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 70vw;
    /* max-height: 80vh; */
    overflow-y: hidden;
}

.modal-heading {
    background-color: var(--color-header);
    padding: .3rem .3rem .3rem 2rem;
}

.modal-close {
    position: absolute;
    top: .3rem;
    right: .6rem;
    text-align: center;
    font-size: 1.7rem;
    cursor: pointer;
    color: #ED2B2A;
}

.modal-close:hover {
    color: white;
}

.modal-title {
    color: #eeeeee;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.modal-content {
    font-size: 1.5rem;
    padding: 2rem;
    text-align: justify;
    word-wrap: break-word;
    max-height: 80vh;
    overflow-y: auto;
}

/* Responsive */
@media only screen and (max-width: 580px) {

    form.create-note {
        position: relative;
        width: 80%;
        margin: 30px auto 20px auto;
        padding: 15px;
        border-radius: 7px;
    }

    .note {
        width: 90%;
    }

    #title-web {
        display: none;
    }

    .main-title {
        margin-top: 7px;
    }

    .modal-container {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .form {
        width: 100px;
        --padding: 1rem;
        padding-inline-end: 0;
        --gap: 1em;
    }

    #notesList {
        overflow-x: hidden;
    }

    .modal-container {
        min-width: 100%;
        min-height: 100%;
    }

    .modal-content {
        padding: 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .modal-container {
        width: 90%;
    }
}